* {
    margin: 0 ;
    padding: 0;
}
.app-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
}
header {
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: solid 1px;
    display: flex;
    padding: 8px 5px;
}
.logo {
    text-decoration: none;
    display: flex;
}
.app-title {
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    margin-top: 5px;
}
.icon {
    width: 50px;
}
nav {
    grid-column: 1/2;
    grid-row: 2/3;
    border-bottom: solid 1px;
}
main {
    grid-column: 1/2;
    grid-row: 3/4;
    border-bottom: solid 1px;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    grid-column: 1/2;
    grid-row: 4/5;
}
.dark-theme {
    background-color: rgb(20,20,20);
    color: white;
    border-color: white;
}
.light-theme {
    background-color: white;
    color: rgb(20,20,20);
    border-color: rgb(20,20,20);
}

@media only screen and (max-width:310px) {
    .app-title {
        font-size: 15px;
    }
    .icon {
        width: 40px;
        height: 42px;
    }
}

