.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    gap: 1em
}
.info-container-section {
    display: flex;
    justify-content: space-around;
}
.dev-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-icon {
    width: 25px;
    height: 25px;
}
.info-container p {
    font-size: 1em;
}
a {
    color: rgb(137, 127, 226);
}