.info-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.dev-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-icon {
    width: 25px;
    height: 25px;
}
p {
    font-size: 15px;
}