.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
}
.nav-link:hover {
    color: rgb(155, 145, 184)
}
.content-options {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width:310px) {
    .nav-link {
        font-size: 14px;
    }
}